@media screen and (max-width :100px)
{
   .img{width: 50% ; }
}
.container{
    width:42%;
    height: 195px;
    margin-right: 25%;;
    margin-left: 25%;
    margin-top: 20px;
}
.photo-div{
    display: flex;
}
.img{
    opacity: 0.8;
    cursor: pointer;
    height: 100px; 
    width: 100px;
    border-radius: 50%;
}
.img:active{
    opacity: 1;
}
.prof-name{
    padding-top: 20px;
    margin-left: 16px;
    height: 50px;
} 
.prof-details{
    color: rgb(16, 205, 205);
    margin-left: 16px;
}
.profile-span{
    cursor:context-menu;
}
.caption{
    margin-top: 10px;
}
.linkes-div{
    display: flex;
    padding-left: 20px;
}
a{  
    color: #7b7575;
    font-weight: bold;
    text-decoration: none;
}
a:hover{
    color: black;
}
.comment-div{
    margin-left: 30px;
    margin-top: 10px;
}
.post-div{
    margin-top: 10px;
}
#but-div{
    margin-left: 70%;
}
#but{
    border: #fff;
    background-color: #fff
}
.bi{  
 color: #7b7575;
}
.dropdown-menu-id{
    position: relative;
    border-radius: 10px;
    width: 200px;
}
#prof-hr{
  margin: 6px;
  border: 1px solid rgb(147, 140, 140);
  width: 100%;
}   