#menu-div{
    display: flex;
    height: 50px;
    width: 50px;
    margin-left: 50px;
}
#menu-but{
    border: #fff;
    background-color: #fff;
}
.buttons{
    border-radius: 50px;
} 
#post-but{
    padding:8px 16px 8px 14px ;
    margin-left: 100px;
    background-color:#0975f1;
    color:aliceblue;
    border: 10px;
    width: 90px;
    margin-right: 80px;
    margin-left: 10px;
}
#notification-but{
    margin-top: 6px;
    border-radius: 50px;
    height: 35px;
    width: 35px;
    color:rgb(174, 166, 166) ;
    border: #fff;
    background-color:#fff;
    text-align: center;
    align-items: center;
    justify-content: center;
}
#notification-img{
    margin-left: -4px;
    margin-bottom: 6px;
    height: 20px;
    width: 20px;
}
#notification-but:hover{
    background-color: #d9dde1;        
}
#profile-but{
    border-radius: 100px;
    border: #fff;
    background-color: #fff;
}   
#search-but{
    width: 20px ;
    border: #fff;
    background-color: #fff;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-right: 50px;
    margin-left: 30px;
    border-radius: 50px;
}
#search-icon:hover{
    background-color: #d9dde1;        
}
.post-pen{
    height: 20px;
    width:20px;
}
#prof{
    border-radius: 50px;
    color:rgb(174, 166, 166) ;
    height: 40px;
    width: 40px;
}
#prof:hover{
    color: rgb(189, 184, 184);
}
#post-but:hover{
    background-color: rgb(92, 59, 212);
}
#search-icon
{
  margin-top: 6px;
  width: 25px;
  border-radius: 50px;
}
#gag-img{
    height: 35px;
    width: 60px;
}
#shuffle{
    color: black;
}
#getApp{
    color: black;
}
#memeLand{
    color: black;
}
#potatoz{
    color: black;
}
#navbar{
    height: 50px;
    width: 100%;
    border-bottom: #0975f1;
    border-bottom-left-radius: 10px;
}
#search-icon{
    margin-right: 20px;
    cursor: pointer;
}
#search-icon:hover{
    background-color: #d9dde1;
}

/*Dropdown*/

.dropdown-item{
    margin-top: 15px;
    height: 30px;
} 
.dropdown-item:active{
    color: black;
    background-color: #d2cece;
}
.dropdown-menu{
    box-shadow: 1px 1px 2px 2px lightgrey;  
    border: 1px;  
    width: 350px;
 }
#gag{   
    padding-left: 18px;
    margin-top: 20px;
    font-size: small;
    color: #ccc5c5;
}
#term{
    color: #7b7575;
    font-weight: bold;
}
#termm{
    color: #7b7575;
    font-weight: bold;
} 
#contact{
    color: #7b7575;
    font-weight: bold;
}
#switch-span{
    display: flex;
    color: black;
    padding-left: 100px;
} 
#search-div{
    margin-top: 5px;
 }
#basic-addon1{
    border: #fff;  
    background-color: #d1cccc;
}
#search-input{
    border: #fff;  
    background-color: #d1cccc;
    color:#a8a3a3 ;
}
.input-group{
    margin-left: 15px;
    border-radius: 10px ;
    background-color: #d1cccc;
    width: 320px;
}
#nested-search{
    width: 16px ;
    height: 16px;
    color: #7b7575;
}
#prof-dropdowm{
     margin-right: -180px; 
     margin-top: 50px;
} 
#f-div{
    display: flex;
}
#s-div{
    margin-left: 200px;
    display: flex;
}
.form-check-input{
    color: rgb(24, 2, 2);
    height: 20px;
}
.form-check-input:hover{
  cursor: pointer;
}
.span{ 
    color: #7b7575;
    font-weight: bold;
}
.menu{
    list-style: none;
    display: none; 
}  
.test{
    position: relative;
}
#img-terms-id{
    width:16px;
    height:16px;
    position: absolute;
    top: 30%; 
    left: 320px;
    transform: translate(-50%); 
    font-size: 22px;
}
#img-advertise-id{
    width:16px;
    height:16px;
    position: absolute;
    top: 30%; 
    left: 320px;
    transform: translate(-50%); 
    font-size: 22px;
}
#img-contact-id{
    width:16px;
    height:16px;
    position: absolute;
    top: 30%; 
    left: 320px;
    transform: translate(-50%); 
    font-size: 22px;
}
.menu-open{
    display: block;
    opacity: 1;
}
.select{
    display: flex;
}
.menu li{
    margin-top: 15px;
}
#WorldCup{
    color: black;
} 
#News{
    color: black;
} 
#termss{
    text-decoration: none;
    color: black;
}
#Privacyy{
    text-decoration: none;
    color: black;
} 
#Copyrightt{
    text-decoration: none;
    color: black;
} 
#Advertisee{
    text-decoration: none;
    color: black;
} 
#Reportt{
    text-decoration: none;
    color: black;
}
#Careerr{
    text-decoration: none;
    color: black;
}
.menu li:hover{
    background-color: #e3d9d9;
    transform: rotate(-1deg);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
#navbar-hr{
    margin: 1px;
    border: 0.5px solid rgb(147, 140, 140);
    width:100%; 
}
.test{
    font-weight: normal;
}
#notification-dropdown{
    width: 360px;
    height: 450px;
    margin-left: -150px;
}
#text{
    margin-top: 160px;
    margin-left: 110px;
    color: #7b7575;
    text-decoration: none;
}
#All{
    width: 50px;

}
#Mentions{
    width:95px;
}
.buttonss{
    font-size: small;
    font-weight: bold;
    border:  #cec5c5 1px solid;
    background-color: #fff;
    height: 35px;
    border-radius: 50px;
    margin-left: 8px;
}
.buttons-div{
    height: 50px;
    text-align: center;
}
.buttonss:focus{
    color: #fff;
    background-color: black;
}
