/* container */
.post-container {
    text-align: left; 
    padding-top: 2%; 
    padding-left: 25%;
    padding-right: 500px; 
    padding: auto;
width: 540px;
display: flex;
position: relative;
}

 .cardfont {
display: block;
margin-top: 0%;
text-decoration:none solid black;
font-weight: bold;
color:black ; 
font-size: small;
width:auto;
 }

/* Gagger Part  */
 .gagger-prof-pic{
    height: 20px;
    width: 100%;
    cursor: pointer;
    position: relative;
    display: flex;
 }
 .AvatarPic {
    height: 30px;
    width:30px;
    display: flex;
    border-radius: 50%;
}
a.gagger{
    width:80px;
    padding-top: 5%;
    padding-left: 1%;
     }
 .gagger{
    font-size: 15px;
    cursor: pointer;
    padding-left: 3%;
    padding-top: 1%;
    height: 50%;
    width: 100%;
      /* 150px */
    display: flex;
 }


 .time {
    display:flex;
    padding-top: 1%;
    color:  #999999 ;
    font-size: small;
  padding-left: 1%;
  cursor: auto;
 }
 .SaveIcon{
    height:90%;
    width: 90%;
    margin: 1px;
    padding-right: 5px;
    padding-top: 1px;
 }
 .DropdownIcon{
    height: 90%;
    width: 90%;
    margin: 1px; 
    padding-right: 5px;
    padding-top: 1px;

 }
   .save-icon{
    display: flex;
padding-left: 60% ;
padding-top: 2%;
align-items: center; 
   }
   .dropdown{
  
    display: flex;
padding-top: 0%;
align-items: center; 
width: 100%;
   }
  .drop-down-icon{
    display: flex;
padding-left: 0% ;
align-items: center; 
width: 100%;
   }
   .save-button{
    height: auto;
    width: 40px;
    border-radius:50%;
    margin: 7px;
    display: flex;
    background-color:white ;
    cursor: pointer;
    border-color: white ;
    border-width: 0;

 }
 .dropdown-button{
    height: auto;
    width: 40px;
    border-radius: 50%;
    margin: 7px;
    display: flex;
    background-color:white ;
    cursor: pointer;
    border-color: white ;
    border-width: 0;
    padding-top: 8px;
    align-items: center;
}
 .save-button:hover {
    background-color:lightgray; 
 }
 .dropdown-button:hover{
    background-color:lightgray; 

 }

.postcardh4{
    padding-top : 3%;
    cursor: pointer;
    font-weight: bold;
}
.title-of-post{
    padding-top: 1%;
}
 .title-of-post.h2{
    height: 30px;
    width: 100%;
    display: flex;
    cursor: pointer;
}

.title-of-post:hover{
color :  #0099FF;
}
/* Media of Post  */

.Media{
    cursor: pointer;
    margin-top: 5px;
    background-color: #f0eeee;
    border-radius: 20px;
    height: auto;
    width: 100%;
    align-items: center;
    
}
.video-card{
    
    cursor: pointer;
margin-top: 5px;
    background-color: #f0eeee;
    border-radius: 20px;
    height: 700px;
    width: 600px;
    max-height: auto;
    max-width: auto;
}
/* Tags */
.container-tag{
    display: flex;
padding: 1%;
padding-left: 0%;
}
.Post-Card-Tag{
    border-radius: 5px;
    border-color:#f0eeee;
    border-width: auto;
    background-color: #f0eeee;
    justify-content: center; 
padding:1% 1%;
margin :3px;
display: flex;
position: relative;
width:auto;
height: 10%;
font-size: 90%;
cursor: pointer;
}
.Post-Card-Tag:hover{
    background-color:lightgray;
    color: black;

}
/* Vote & share Part */
.vote-button{
display: flex;
padding-top: 1%;
margin-right: 2%;
width:400px;
height:50px;
padding: 2px;

}
.button-vote-comment{
    border-radius: 5px;
    border-color:rgb(219, 208, 208);
    border-width:1px;
    background-color: white;
    justify-content: center; 
    padding:1% 1%;
    margin :3px;
    display: flex;
    position: relative;
    width:auto;
    height: 80%;
    font-size: 90%;
    cursor: pointer;
    font-weight: bold;
    color: grey;
    padding-top: 6px;
}
.button-vote-comment:hover{
background-color:rgb(246, 246, 246);
}
.comment-img{
    width: 45%;
    padding-top: 5px;
    padding-right: 1px;
    color: #0099FF;
}
.button-vote {
    border-radius: 5px;
    border-color:rgb(219, 208, 208);
    border-width:1px;
    background-color: white;
    justify-content: center; 
    padding:1% 1%;
    margin :3px;
    display: flex;
    position: relative;
    width:auto;
    height: 80%;
    font-size: 90%;
    cursor: pointer;
    font-weight: bold;
    color: grey;
    padding-top: 6px;

}

.button-vote-active {
    border-radius: 5px;
    border-width:0px;
    justify-content: center; 
    padding:1% 1%;
    margin :3px;
    display: flex;
    position: relative;
    width:auto;
    height: 80%;
    font-size: 90%;
    cursor: pointer;
    background-color:  #cde3f3;
    border-color:1px  #0099FF;
    font-weight: bold;
    color: #0099FF;
}
.share-buttons{
    display: flex;
    padding-top: 0%;
    margin-left: 20px;
    
}


.share-icon{
    background-color: white;
    border-radius: 30%;
    border-color: rgb(65, 41, 88);
    text-align:  center; 
padding:10px 10px;
padding-left: 10px;
padding-right: 10px;
margin :1px;
display: flex;
height: 50px;
cursor: pointer;
width: 50px;

}

.vote-button{
   padding-top: 7px; 
}

.votebutton:hover{
    background-color:lightgray;

}
.commit{
    width:50%
}


.button-vote:hover{
    background-color:rgb(246, 246, 246);
   
}
.share-icon:hover{
    background-color:rgb(246, 246, 246);
}
.dropdown{
    background-color: white;
    border: none ;
}
.dropdown-item{
font-weight:normal;
padding : 4px;
padding-left: 9px;

font-size: large;

}
.dropdown-share-icon{
    height: 21px;
    padding-right: 10px;
    padding-left: 3px;
}

.button-card{
    display: flex;
    padding: 10px;  
    margin: -9px;

}
a.button-vote{
    color:grey;
}
