.itemTitle {
  font-weight: 700;
  font-size: 14px;
  height: 24px;
  color: #999999;
  display: inline-block;

}

.buttonItem {
  display: flex;
  outline: none;
  align-self: baseline;
  background-color: transparent;
  justify-content: center;
  border-width: 0px;
}

.star {
  display: flex;
  align-self: baseline;
}

.btnsContainer {
  display: flex;
}

.rowContainer  {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  align-items: center;
  justify-content: space-between;
}

::-webkit-scrollbar {
  display: none;
}
#exampleModal  {
 
 height: 72vh;
 position:relative
 
}
.ctag{
  width:200px;
  height: 100px;
border-radius: 5%;

 }
.butn{
  position:relative;
  margin-top: 2%;
  margin-right: 2%;
  margin-left: 78%;
  float: right;
  background-color: white;
border-width: 0;
border-color: white;
border-radius: 5%;
}
.flex-container {
  display: flex;
  flex-direction: row;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}
/* @media screen {
  .butn{
      margin-left:0;

  } */

