.active-Up {
    background-color: chartreuse;
}
.active-Down {
    background-color: orangered;
}
.button-vote {
    border-radius: 5px;
    border-color:gray;
    border-width:1px;
    background-color: white;
    justify-content: center; 
padding:1% 1%;
margin :3px;
display: flex;
position: relative;
width:auto;
height: 10%;
font-size: 90%;
cursor: pointer;
}
.button-vote:focus{
    background-color: rgb(199, 212, 241);
    border-color:1px rgb(11, 11, 214);
    
}
.save:focus{
    background-color: red;

}
.save {
    background-color: white;
    width: auto;
padding-left:0px;
height: 30px;

}
.SaveIcon{
    height: 20px;
    margin:0; 
    padding:0;
    
}
