@media screen and (max-width:700px){
    .video-card{
        width:50%;
        
    }
}

.post-container {
    text-align: left; 
    padding-top: 30px; 
    padding-left: 25%;
    padding-right: 500px; 
    padding: auto;
width: 540px;
display: flex;
position: relative;
max-width: 540px;

}

 a {
display: block;
margin-top: 10px;
text-decoration:none solid black;
font-weight: bold;
color:black ; 
font-size: small;

 }
 a:hover {
    color: black;
 }

 .gagger-prof-pic{
    height: 20px;
    width: 500px;
    cursor: pointer;
    margin :0 ; 
    position: relative;
    display: flex;
 }
 .AvatarPic {
    height: 20px;
    width:20px;
    display: flex;
    border-radius: 50%;
}
 .gagger-name{
    font-size: 15px;
    cursor: pointer;
    padding-left: 2%;
    padding-top: 0px;
    height: 100%;
    width: 100%;
      /* 150px */
    display: flex;
 }
 span {
    display: flex;
    padding-top: 10px;
    color:  #999999 ;
    font-size: small;
 }
 .SaveIcon{
    height: 50%;
    width: 100%;
    margin: 1px;
    padding-right: 5px;
padding-top: 1px;
 }
 .DropdownIcon{
    height: 50%;
    width: auto;
    margin: 1px; 
    padding-right: 5px;
 }
   .save-icon{

    display: flex;
padding-left:  68% ;
padding-top: 2%;
align-items: center; 
   }
   .dropdown{
  
    display: flex;
padding-top: 0%;
align-items: center; 
   }
  .drop-down-icon{
    display: flex;
padding-left: 0% ;
align-items: center; 
   }
   .save-button{
    height: auto;
    width: 40px;
    border-radius:20%;
    margin: 7px;
    display: flex;
background-color:white ;
cursor: pointer;
border-color: white ;
border-width: 0;

 }
 .dropdown-button{
    height: auto;
    width: 40px;
    border-radius: 20%;
    margin: 7px;
    display: flex;
background-color:white ;
cursor: pointer;
border-color: white ;
border-width: 0;
padding-top: 9px;
}
 .save-button:hover {
    background-color:lightgray; 
 }
 .dropdown-button:hover{
    background-color:lightgray; 

 }

h4{
    padding-top : 3%;
    cursor: pointer;
}

 .title-of-post.h2{
    height: 30px;
    width: 650px;
    display: flex;
    cursor: pointer;
    padding-top : 30px;
    padding-left: 0;
margin: 2px;
}

.title-of-post:hover{
color :  #0099FF;
}
.video-card{
    
    cursor: pointer;
margin-top: 5px;
    background-color: #f0eeee;
    border-radius: 20px;
    height: 700px;
    width: 600px;
    max-height: auto;
    max-width: auto;
}
.container-tag{
    display: flex;
padding: 4px;
}
.Post-Card-Tag{
    border-radius: 5px;
    border-color:#f0eeee;
    border-width: auto;
    background-color: #f0eeee;
    text-align:  center; 
padding:1% 1%;
margin :3px;
display: flex;
position: relative;
}
.Post-Card-Tag:hover{
    background-color:lightgray;

}

.vote-button{
display: flex;
padding: 5px;
padding-left: none;
}
.share-buttons{
    display: flex;
    padding: 5px;  
    padding-left: 170px;
}

.button-vote{
    border-radius: 15%;
    background-color: white;
    border-color: rgb(65, 41, 88);
    text-align:  center; 
padding:10px 10px;
padding-left:none;
margin :2px;
border: 1px solid lightgray;
width:auto;
position:relative;
cursor: pointer;
block-size: 80%;}
.share-icon{
    background-color: white;
    border-radius: 30%;
    border-color: rgb(65, 41, 88);
    text-align:  center; 
padding:10px 10px;
padding-left: 10px;
padding-right: 10px;
margin :1px;
display: flex;
height: 50px;
cursor: pointer;
width: 50px;

}

.button-vote:hover{
    background-color:rgb(246, 246, 246);
   
}
.share-icon:hover{
    background-color:rgb(246, 246, 246);
}
.dropdown{
    background-color: white;
    border: none ;
}
.dropdown-item{
font-weight:normal;
padding : 4px;
padding-left: 9px;

font-size: large;

}
.dropdown-share-icon{
    height: 21px;
    padding-right: 10px;
    padding-left: 3px;
}

.button-card{
    display: flex;
    padding: 10px;  
    margin: -9px;
}
a.button-vote{
    color:grey;
}
