
.post-container {
    text-align: left; 
    padding-top: 400px; 
    padding-left: 400px;
    padding-right: 500px; 
width: 540px;
display: flex;
margin:228px 228px 228px 228px;
position: relative;

}
 a {
display: block;
margin-top: 10px;
text-decoration:none solid black;
font-weight: bold;
color:black ; 

 }
 a:hover {
    color: black;
 }

 .gagger-prof-pic{
    height: 40px;
    width: 500px;
    cursor: pointer;
    margin :0 ; 
    position: relative;
    display: flex;
 }
 .AvatarPic {
    height: 50px;
    width: 50px;
    display: flex;
    border-radius: 40px;
}
 .gagger-name{
    font-size: 20px;
    cursor: pointer;
    padding-left: 5px;
    padding-top: 5px;
    height: 10px;
    width: 150px;
    display: flex;
    margin-right: 10px;
 }
 span {
    display: flex;
    padding-top: 10px;
    color:  #999999 ;
 }
 .SaveIcon{
    height: 30px;
    width: 30px;
    border-radius: 30px;
    margin: 1px;
    padding-right: 5px;
padding-top: 2px;
 }
 .DropdownIcon{
    height: 30px;
    width: 30px;
    border-radius: 30px;
    margin: 1px;
    padding-right: 5px;
padding-top: 2px;
 }
   .save-icon{

    display: flex;
padding-left: 530px ;
padding-top: 30px;
align-items: center; 
   }
   .drop-down-icon{
    display: flex;
padding-left: 0px ;
align-items: center; 
   }
   .save-button{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    margin: 7px;
    display: flex;
background-color:white ;
cursor: pointer;
border-color: white ;
border-width: 0;

 }
 .dropdown-button{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    margin: 8px;
    display: flex;
background-color:white ;
cursor: pointer;
border-color: white ;
border-width: 0;
padding-top: 12px;
 }
 .save-button:hover {
    background-color:lightgray; 
 }
 .dropdown-button:hover{
    background-color:lightgray; 

 }

h2{
    padding-top : 30px;
    cursor: pointer;
}

 .title-of-post.h2{
    height: 30px;
    width: 650px;
    display: flex;
    cursor: pointer;
    padding-top : 30px;
    padding-left: 0;
margin: 2px;
}

.title-of-post:hover{
color :  #0099FF;
}
.video-card{
    
    cursor: pointer;
margin-top: 5px;
    background-color: #f0eeee;
    border-radius: 20px;
}
.container-tag{
    display: flex;
padding: 4px;
}
.Post-Card-Tag{
    border-radius: 5px;
    border-color:#f0eeee;
    border-width: 1px;
    background-color: #f0eeee;
    text-align:  center; 
padding:10px 20px;
margin :3px;
display: flex;
}
.Post-Card-Tag:hover{
    background-color:lightgray;

}

.vote-button{
display: flex;
padding: 5px;
padding-left: none;
}
.share-buttons{
    display: flex;
    padding: 5px;  
    padding-left: 340px;
}

.button-vote{
    border-radius: 5px;
    background-color: white;
    border-radius: 10px;
    border-color: rgb(65, 41, 88);
    text-align:  center; 
padding:10px 10px;
padding-left: 2px;
margin :2px;
border: 1px solid lightgray;
width:90px;
position:relative;
cursor: pointer;
}
.share-icon{
    background-color: white;
    border-radius: 10px;
    border-color: rgb(65, 41, 88);
    text-align:  center; 
padding:10px 10px;
padding-left: 20px;
padding-right: 20px;
margin :1px;
display: flex;
height: 50px;
cursor: pointer;
width: 70px;

}

.button-vote:hover{
    background-color:rgb(246, 246, 246);
   
}
.share-icon:hover{
    background-color:rgb(246, 246, 246);
}
.dropdown{
    background-color: white;
    border: none ;
}
.dropdown-item{
font-weight:normal;
padding : 12px;
font-size: large;

}
.dropdown-share-icon{
    height: 20px;
    padding-right: 3px;
    padding-left: 3px;
}

.button-card{
    display: flex;
    padding: 5px;  
    margin: 10px;
}
a.button-vote{
    color:grey;
}