.logo-header{
    height:22px;
    width: 100%;
}
.navbar-nav{
        padding-right:8%;
        padding-left:38%;
        padding-top: 30px;
        margin: 0.618em; 
        letter-spacing: 0.1rem; 
        color: gray;
        font-family:system-ui;
        font-weight: bold;
        font-size: 90%;
}
.navbar-brand{
    padding-left:10%;
    padding-top: 30px;
}
.navbar-toggler-icon{
    padding-top: 15%;
}

#blue-button{
    color: rgb(80, 80, 250);
}
#Phones-photo{
  height: 558px;  
  width: 86%;
}   

@media screen and (max-width:1263px){
    .content-getapp-page{
        width: 50%;
        height: auto;
    }
}  
 .content-getapp-page{
   display: block;
   height: 630px;
   width:1263px;
} 

.phones-photo{
    display: flex;
    height: 468px;
    width: 44%; 
    position: relative;
    right: 20%;
    left: 52%;
    top: 72px;
} 
.wr-content-get-app{
    height:180px;
    width: 40%;
    position: relative;
    left: 9%;
    bottom: 350px;  
} 
 .h1{
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;   
    font-weight: bolder;
    text-decoration: none solid rgb(18,18,18);
    font-size: 450%;
    color:#121212;
}
.two-photos-google-store-wr{
    display: block;
    height: 55px;
    width: 38%; 
    position: relative;
    top: -300px;
    right: 100%;
    left: 9%;
} 
 .img-App-store-in-get-app
{
    height:48px;
    width: 34%;
    cursor: pointer;

} 
 .img-Google-play-in-get-app
{
    height:48px;
    width: 34%; 
    position: relative;
    right: 50%;
    left: 2%;
    cursor: pointer;

} 
 .nav-link:hover{
    color: rgb(0, 0, 0);
}  

.footer-wr-getapp{
    height: 350px;
    width:1263px;
    background:#f6f6f6;
} 
.footer-getapp{
    font-family:system-ui;
    font-weight: bold;
    font-size: 90%;
    height: auto;
    width: 40%; 
    position: relative;
    top: 80px;
    left: 9%;
    bottom: 180px;
    position: #000; 
} 
 .nav-link{
    line-height: 20px;
    padding: 2px;
}
#footer
{
    color: #000;
    width: 45%;
}
#footer:hover{
    color: #cccbcb;
}
.nav-link{
    color: rgb(156, 155, 155);
}