
.modalBackground {
    width: 100vw;
    height: 100vh;
    background-color: rgba(200, 200, 200);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContainer {
    width: 534px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.modalContainer .title {
    display: inline-block;
    text-align: center;
}
.titleCloseBtn {
    display: flex;
    justify-content: flex-start;
}
.titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin-left: -3px;
    margin-top:-10px;
}
.modalContainer .bodyBut {
margin-top: 0px;
}
.h4, h4 {
    margin-left: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    margin-top: 0px;
}
hr {
    margin: 0rem -26px;
    color: inherit;
    border: 0;
    border-top: 1px solid;
    opacity: .25;
}
.P-Or{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding: 6px 13px;
    margin-bottom: 7px;
}
.ButFacebook 
{
    border-radius: 30px;
    height: 50px; ;
    width: 460px;
    font-weight: bold;
    font-size: 14px;
    border: 1px;
    border-color: #e5e5e5;
    border-style: solid;
    margin:4px;
    background-color: white;
}
a.facebook {
    text-decoration: none;
    color: black;
}
a.Google {
    text-decoration: none;
    color: black;
}
a.Apple{
    text-decoration: none;
    color: black;
}

.facebook1{
    position: absolute;
width: 20px;
margin: 1px -130px;
}

.ButGoogle{
    border-radius: 30px;
    height: 50px; ;
    width: 460px;
    font-weight: bold;
    font-size: 14px;
    border: 1px;
    margin:4px;
    border-color: #e5e5e5;
    border-style: solid;
    background-color: white;
}
.google1
{
    position: absolute;
    width: 30px;
    margin: 0px -145px;
}
.ButApple{
    border-radius: 30px;
    height: 50px; ;
    width: 460px;
    font-weight: bold;
    font-size: 14px;
    border: 1px;
    margin:4px;
    border-color: #e5e5e5;
    border-style: solid;
    background-color: white;
}
.apple1{
    position: absolute;
    width: 40px;
    margin: 0px -155px;
}

.ButLogIn{
    border-radius: 30px;
    height: 50px; ;
    width: 460px;
    font-weight: bold;
    font-size: 14px;
    border: 1px;
    margin:4px;
    border-color: #e5e5e5;
    border-style: solid;
    background-color:#0077ff;
    opacity: .4;
    color: aliceblue;
}
.Forgot{
    border-radius: 30px;
    height: 50px; ;
    width: 460px;
    font-weight: bold;
    font-size: 14px;
    border: 0px;
    margin:4px;
    background-color: white;
}
.ButFacebook:hover,.ButGoogle:hover,.ButApple:hover,.ButEmail:hover{
    background-color: rgb(194, 194, 194);
}