.TagCont{
    display:block;
    position: relative;
    width: 600px;
    height:200px;
    margin: 0px;
	padding: 0px;
padding-top: 25%;  
padding-left: 25%;
}
.Tag-Button{
border-radius: 5px;
    border-color:#f0eeee;
    border-width: auto;
    background-color: #f0eeee;
    text-align:  center; 
padding:1% 1%;
margin:7px;
display: block;
position: relative;

}

.Tag-Button:hover{
    background-color:lightgray;

}

/* .TagCont{
    position: absolute;
    width: 564px;
    height:120px;
    margin: 0px;
	padding: 0px;
padding-top: 25%;  
padding-left: 25%;
}
.Tag1{
    border-radius: 5px;
    height: 32px; ;
    width: 110px;
    font-weight: bold;
    font-size: 14px;
    border: 0px;
    margin:5px;
}
.Tag2{
    border-radius:5px;
    height: 32px; ;
    width: 129px;
    font-weight: bold;
    font-size: 14px;
    border: 0px;
    margin: 5px;

}
.Tag3{
    border-radius: 5px;
    height: 32px; ;
    width: 79px;
    font-weight: bold;
    font-size: 14px;
    border: 0px;
    margin: 5px;
}
.Tag4{
    border-radius: 5px;
    height: 32px; ;
    width: 37px;
    font-weight: bold;
    font-size: 14px;
    border: 0px;
    margin: 5px;
}
.Tag5{
    border-radius: 5px;
    height: 32px; ;
    width: 84px;
    font-weight: bold;
    font-size: 14px;
    border: 0px;
    margin: 5px;
}
.Tag6{
    border-radius: 5px;
    height: 32px; ;
    width: 64px;
    font-weight: bold;
    font-size: 14px;
    border: 0px;
    margin: 5px;
}
.Tag7{
    border-radius: 5px;
    height: 32px; ;
    width: 133px;
    font-weight: bold;
    font-size: 14px;
    border: 0px;
    margin: 5px;
}
.Tag8{
    border-radius: 5px;
    height: 32px; ;
    width: 150px;
    font-weight: bold;
    font-size: 14px;
    border: 0px;
    margin: 5px;
}
.Tag9{
    border-radius: 5px;
    height: 32px; ;
    width: 111px;
    font-weight: bold;
    font-size: 14px;
    border: 0px;
    margin: 5px;
}
.Tag10{
    border-radius: 5px;
    height: 32px; ;
    width: 93px;
    font-weight: bold;
    font-size: 14px;
    border: 0px;
    margin: 5px;
}
.Tag11{
    border-radius: 5px;
    height: 32px; ;
    width: 128px;
    font-weight: bold;
    font-size: 14px;
    border: 0px;
    margin: 5px;
}
.Tag12{
    border-radius: 5px;
    height: 32px; ;
    width: 128px;
    font-weight: bold;
    font-size: 14px;
    border: 0px;
    margin: 5px;
}
.Tag1:hover,.Tag2:hover,.Tag3:hover,.Tag4:hover,.Tag5:hover,.Tag6:hover,.Tag7:hover,.Tag8:hover,.Tag9:hover,.Tag10:hover,.Tag11:hover,.Tag12:hover{
    background-color: rgb(194, 194, 194);
} */