.modalBackground {
    width: 100vw;
    height: 100vh;
    background-color: rgba(200, 200, 200);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContainer {
    width: 534px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    /* overflow-y: auto; */
}

.modalContainer .title {
    display: inline-block;
    text-align: center;
}

.par{
font-size: 12px;
height:28px;
width :508px;
text-align: center;
padding: 16px 0 16px 0;
}
.NineGagIcon{
    height:100px;
    width: 100px;
}

.titleCloseBtn {
    display: flex;
    justify-content: flex-start;
}
.titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.modalContainer .bodyBut {
margin-top: 70px;
}
.carousel
{
    margin: auto;
    width: 30%;
    padding: 10px;
}
.para
{
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    padding: 16px 0;
}
.ButFacebook
{
    border-radius: 30px;
    height: 50px; ;
    width: 460px;
    font-weight: bold;
    font-size: 14px;
    border: 1px;
    border-color: #e5e5e5;
    border-style: solid;
    margin:4px;
    background-color: white;
}
.facebook1{
    position: absolute;
width: 20px;
margin: 1px -130px;

}

.ButGoogle{
    border-radius: 30px;
    height: 50px; ;
    width: 460px;
    font-weight: bold;
    font-size: 14px;
    border: 1px;
    margin:4px;
    border-color: #e5e5e5;
    border-style: solid;
    background-color: white;
}
.google1
{
    position: absolute;
    width: 30px;
    margin: 0px -145px;
}
.ButApple{
    border-radius: 30px;
    height: 50px; ;
    width: 460px;
    font-weight: bold;
    font-size: 14px;
    border: 1px;
    margin:4px;
    border-color: #e5e5e5;
    border-style: solid;
    background-color: white;
}
.apple1{
    position: absolute;
    width: 40px;
    margin: 0px -155px;
}
.ButEmail{
    border-radius: 30px;
    height: 50px; ;
    width: 460px;
    font-weight: bold;
    font-size: 14px;
    border: 1px;
    margin:4px;
    border-color: #e5e5e5;
    border-style: solid;
    background-color: white;
}
.ButLogIn{
    border-radius: 30px;
    height: 50px; ;
    width: 460px;
    font-weight: bold;
    font-size: 14px;
    border: 0px;
    margin:4px;
    background-color: white;
}
.ButFacebook:hover,.ButGoogle:hover,.ButApple:hover,.ButEmail:hover{
    background-color: rgb(194, 194, 194);
}