.container{
    border-radius: 10px;
    border: 2px solid #e5e5e5;

    margin: 0px 0 0 -673px;
    width: 640px;
    height: 568px;
}
.titel{
    margin: 31px 0 0 19px;
    width: 574px;
    height: 49px;
}
.add{
    margin: 29px 0 0 19px;
    width: 574px;
    height: 49px;
}
.dropdown{
    width: 298px;
    height: 48px;
    margin: -30px 0 0 1147px;

    
}
.rules_menu{
    width: 298px;
    height: 400px;
    
    
}
.rounded{
    margin: 15px 0 0 19px;
    width: 574px;
    height: 322px;
}
.hhh{
    width: 234px;
    height: 48px;
}
.toggle-button{
    border-radius: 50px;
}
.btn{
    width: 298px;
    height: 48px;
    background-color: white;
    border-color: #e5e5e5;
    color: black;
    
}
.creat_post{
    margin: 96px 0 0 474px;
    width: 640px;
    height: 32px;
}
.btn-group{
    width: 36px;
    height: 36px;
    margin: 2px 0 0 29px;
}
.btn-check{
    width: 62px;
    height: 36px;
    margin: 2px 0 0 0px;
}

