.container{
    border-radius: 10px;
    border: 2px solid #e5e5e5;

    margin: 0px 0 0 -673px;
    width: 640px;
    height: auto;
}
.titel{
    margin: 31px 0 0 19px;
    width: 574px;
    height: 49px;
    font-weight: bold;
}
.add{
    margin: 29px 0 0 19px;
    width: 574px;
    height: 49px;
    font-weight: bold;
}
.dropdown{
    width: 298px;
    height: 48px;
    margin: -30px 0 0 1147px;

    
}
.rules_menu{
    width: 298px;
    height: 400px;
    
    
}
.choose_file{
    margin: 15px 0 0 19px;
    width: 574px;
    height: 322px;
}
.rules{
    width: auto;
    height: 48px;
    font-weight: bold;
}
.add_list{
    margin: 11px 0 0 0px;
    border-radius: 100px;
    background-color: white;
    border: none;
}
.add_list:hover{
background-color: lightgrey;
}
.btn_rules{
    width: 298px;
    height: 48px;
    background-color: white;
    border-color: #e5e5e5;
    color: black;
    
}
.creat_post{
    margin: 96px 0 0 474px;
    width: 640px;
    height: 32px;
}
.btn-group{
    width: 36px;
    height: 36px;
    margin: 5px 0 0 29px;
}
.btn-check{
    width: 62px;
    height: 36px;
    margin: 2px 0 0 0px;
}
.hidenbtn{
    width: 60px;
    height: 35px;
    border-radius: 100px;
    margin:  -40px 0 0 530px;
    
}
.posttext{
    margin: -1px 5px 5px -5px;
}
.setting{
    width: 20px;
    height: 20px;
}
.g99{
    width: 40%;
    height: 60%;
    margin: 2% 0 0 -2%;
    font-weight: bold;
}
.tages{
    width: auto;
    height: 40px;
    margin: 2% 0 0 2%;
    border-radius: 5px;
    border: 2px solid white;
    font-weight: bold;
}
.tagestitl{
    margin: 2% 0 0 2%;
    color: gray;
    font-weight: bold;
}
.dd{
    padding: 10%;
    height: auto;
}
.graphup{
    width: 20px;
    height: 20px;
    padding: 0.8%;
}
.settingpt{
    margin: 0 0 0 ;
}