.postt {
  
    border-top: 1px solid rgba(0,0,0,.1);
    box-sizing: border-box;
        float: left;
      
}
.list-stream{
    
    padding-left: 400px;
    padding-right: 473px;
}
.post-creator .post-creator__author {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color:  black; 
    margin-right: 4px;
}
 
header{
    position: relative;
    display: block;
}
.post-header {
    height: 20px;
    color: #999;
    font-size: 12px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    position: relative;
}
    .post-creator{
        display: flex;
        align-items: center;
        flex-grow: 1;
        font-size: 14px;
        box-sizing: border-box;
    }
    .post-header-action{
        align-items: center;
        text-align: center;
    }

 img{
    min-height: 419.565px;
    padding: 0px 70px;
    display: block;
    width: 500px;
     border: 0; 
     border-radius: 4px 4px 0 0; 
     background-color: rgb(0 0 0 / 6%);
 }
 
 .post-tag a {
    display: block;
    height: 32px;
    line-height: 32px;
    margin-right: 8px;
    margin-bottom: 8px;
    background-color: rgba(0,0,0,.06);
    color: #000;
    text-decoration: none;
    padding: 0 8px;
    border-radius: 4px;
    text-align: center;
    font-weight: 700;
    
}
div.post-tag {
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
}
.post-afterbar-a {
    position: relative;
}

.post-afterbar-a ul {
    display: block;
    padding-inline-start: 40px;
}
.btn-vote   li {
    margin: 0 8px 0 0;
    float: left;
    list-style: none;
}
.left {
    float: left!important;
}
 
.comment {
    border: 1px solid rgba(0,0,0,.1);
    cursor: pointer;
    color: #000;
}
 
.right {
    float: right!important;
}
 

a {
   
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 4px;
    padding: 0 18px;
    height: 34px;
    color: rgb(7, 7, 7);
 
}
.share-bar  {
    display: flex;
}