.countainerTag{
    position: absolute;
    width: 564px;
    height:120px;
    margin: 0px;
	padding: 0px;
    margin-top: 225px;
    margin-left: 400px;

}
.buut1{
    border-radius: 5px;
    height: 32px; ;
    width: 110px;
    font-weight: bold;
    font-size: 14px;
    border: 0px;
    margin:5px;
}
.buut2{
    border-radius:5px;
    height: 32px; ;
    width: 129px;
    font-weight: bold;
    font-size: 14px;
    border: 0px;
    margin: 5px;

}
.buut3{
    border-radius: 5px;
    height: 32px; ;
    width: 79px;
    font-weight: bold;
    font-size: 14px;
    border: 0px;
    margin: 5px;
}
.buut4{
    border-radius: 5px;
    height: 32px; ;
    width: 37px;
    font-weight: bold;
    font-size: 14px;
    border: 0px;
    margin: 5px;
}
.buut5{
    border-radius: 5px;
    height: 32px; ;
    width: 84px;
    font-weight: bold;
    font-size: 14px;
    border: 0px;
    margin: 5px;
}
.buut6{
    border-radius: 5px;
    height: 32px; ;
    width: 64px;
    font-weight: bold;
    font-size: 14px;
    border: 0px;
    margin: 5px;
}
.buut7{
    border-radius: 5px;
    height: 32px; ;
    width: 133px;
    font-weight: bold;
    font-size: 14px;
    border: 0px;
    margin: 5px;
}
.buut8{
    border-radius: 5px;
    height: 32px; ;
    width: 150px;
    font-weight: bold;
    font-size: 14px;
    border: 0px;
    margin: 5px;
}
.buut9{
    border-radius: 5px;
    height: 32px; ;
    width: 111px;
    font-weight: bold;
    font-size: 14px;
    border: 0px;
    margin: 5px;
}
.buut10{
    border-radius: 5px;
    height: 32px; ;
    width: 93px;
    font-weight: bold;
    font-size: 14px;
    border: 0px;
    margin: 5px;
}
.buut11{
    border-radius: 5px;
    height: 32px; ;
    width: 128px;
    font-weight: bold;
    font-size: 14px;
    border: 0px;
    margin: 5px;
}
.buut12{
    border-radius: 5px;
    height: 32px; ;
    width: 128px;
    font-weight: bold;
    font-size: 14px;
    border: 0px;
    margin: 5px;
}
.buut1:hover,.buut2:hover,.buut3:hover,.buut4:hover,.buut5:hover,.buut6:hover,.buut7:hover,.buut8:hover,.buut9:hover,.buut10:hover,.buut11:hover,.buut12:hover{
    background-color: rgb(194, 194, 194);
}