.wr-side-bar 
{
  width: 50px;
}

/*offcanvas */

#offcanvasScrolling 
{
  width: 14.4rem;
  margin-top: 50px;
  position: fixed;
  box-shadow: 2px 0 3px rgba(0, 0, 0, 0.2);

  
}


/*icone inside navbar*/
.btn-start 
{
  background-color: transparent;
  border-width: 0px;
  padding-left: 0.1rem;
}



/*card styel*/

.btn-card 
{


  color: #fff;
  border-radius: 100px;
  width: 9.5rem;
  height: 2.5rem;
  font-weight: bold;
}

.card-body 
{
  font-style: normal;
  display: block;
  text-align: center;
}

.card-title
 {
  font-weight: bold;
  font-size: 19px;
}

.card 
{
  margin: 16px 8px 10px;
}

.card-text 
{
  font-size: 14px;
}



/*9gag section */

.label-section-9gag 
{
  font-weight: bold;
  font-size: 14px;
  size: 10px;
  padding-left: 0.3rem;
}

.label9gagSection:hover 
{
  background-color: rgba(100, 99, 99, 0.1);
}

.icons-sidebar-9gag-sction
{
  padding: 0px;
  width: 1.5rem;
  height: 1.4rem;
}

.label9gagSection 
{
  padding: 3px;
  list-style-type: none;
}
.label9gagSection a 
{
  color: #010101;
  text-decoration: none;
}



.sidebar-menu 
{
  padding: 0px;
}

/*filters inside each section */

#sidebar-menu-recent{
  padding: 0px;
}

.sidebar-menu-9gag 
{
  padding: 0px;
}

.sidebarItem 
{
  font-size: 14px;
 
  text-decoration: none; 
  color: rgb(56, 56, 56);
}


.sidebarItem:hover
{
  color: rgb(0, 0, 0);

}


.sidebarItemRecent
{

  font-size: 14px;
  color: rgb(83, 83, 83);
  position: relative; 
  top: 6px;
  text-decoration: none; 
  font-style: normal;
}
.sidebarItemRecent:hover
{
  color: rgb(0, 0, 0);
}





/*star icon in all section*/

.bi 
{
  width: 1.5rem;
  height: 1.3rem;
}

.star-btn 
{
  display: flex;
  outline: none;
  align-self: baseline;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  border-width: 0px;
}


/*remove icon only in recent section*/
.btn-remove
{
  display: flex;
  outline: none;
  align-self: baseline;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  border-width: 0px;
  padding-right: 0rem;


}

.remove 
{
  opacity: 0.02;
  width: 31px;
  height: 31px;


}

.remove:hover 
{
  opacity: 0.7;
}



/*div contain filters*/
.rowContainer 
{
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  align-items: center;
  justify-content: space-between;
}

.rowContainer:hover
{
  background-color: rgba(100, 99, 99, 0.1);
}

.filtersSections
{
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
  
}

.filtersSections:hover
{
  background-color: rgba(100, 99, 99, 0.1);
}


/*text at top*/
.h3Sections
{
  color: rgb(143, 142, 142);
  font-size: 14px;
  font-weight: 700;
  width: 100%;
  line-height: 30px;
}

.spanSections 
{
  color: rgb(143, 142, 142);
  font-size: 14px;
  font-weight: 700;
  width: 100%;
  line-height: 30px;
}

.spanSectionsRecent
{
 color: rgb(143, 142, 142);
  font-size: 14px;
  font-weight: 700;
  width: 100%;
  line-height: 30px;
}


/*clear text inside recent section*/
.clear 
{
  color: rgb(143, 142, 142);
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
}
.clear:hover{
  color: rgb(143, 142, 142);
}
.clear-btn 
{
  outline: none;
  background-color: transparent;
  border-width: 0px;
  margin-left: 102px;
  width: 2.5rem;

}





/*li and ul style */




.li-filter 
{
  list-style-type: none;
  margin: 10px;
  padding: 3px;
  margin-top: -2px;
  margin-left: -2px;
}






/*post part style */
i 
{
  padding: 200px 200px;
  position: relative;
  margin: 0 auto;
}

.profile-header 
{
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  width: 100%;
  justify-content: space-between;
}

.h1Post 
{
  font-size: 35px;
  line-height: 40px;
  font-weight: 650;
}

.menu 
{
  margin: 0;
  padding: 0;
  outline: 0;
}

.tab-bar .menu 
{
  list-style-type: none;
  display: flex;
}

.tab-bar 
{
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  width: 100%;

  margin-bottom: 12px;
  display: flex;
}

.menu .selected 
{
  color: #999;
  font-weight: 700;
  display: block;
  box-sizing: border-box;
  line-height: 20px;
  height: 3rem;
  padding: 10px 16px;
}

.menu 
{
  color: #000;
  font-weight: 700;
}

.selected 
{
  color: #000;
  font-weight: 700;
}

.menu .selected:hover 
{
  color: #000;
  border-bottom: 2px solid #000;
}

.profile-header 
{
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  width: auto;
}

body 
{
  margin: 0;
  padding: 0;
  outline: 0;
  font: 14px sans-serif;
  background-color: #fff;
  text-size-adjust: none;
}

.selected 
{
  margin: 0;
  padding: 0;
  outline: 0;
  text-decoration: none;
}

.btn-tag 
{
  background-color: rgb(65, 65, 231);
  display: inline-block;
  height: 2.3rem;
  padding: 8px 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  padding-left: 14px;
  padding-right: 16px;
  align-items: center;
  border-radius: 10px;
  border: none;
  display: flex;
}
.btn-tag:hover{
  color: rgb(255, 255, 255);
}
.pin-icon 
{
  width: 1.4rem;
  margin-right: 2px;
}






/* sidebar page tags post*/



.Tag-Button-sidebar{
font-size:14px;
border-color:#f0eeee;
border-width:0;
height: 2rem;
margin-right: 5px;
margin-bottom: 5px;
position: relative;
background-color: #F0EEEE;
border-radius: 5px;
display: inline-block;
font-weight: bold;
width: auto;
padding-right: 8px;



}
.Tag-Button-sidebar:hover{
  background-color:lightgray;
}

.sidebarItemButton
{
  font-size: 12px;
  color: rgb(65, 65, 65);
  padding: 0px;
  margin-top: 30px;

}
.containerL
{
width: 660px;
justify-content: center;
width:700px;
height:85px;
margin-left:25%;
display: flex;
justify-content: space-between;
 
  
}
.firstSection
{
margin-top: 10%;

}


/* post part */
.postPartL
{
  padding-top: 14rem;
}