.gag{
height: 150px;
margin-left: 26%;
width:600px;
padding-bottom: 2%;
}

.homegag{
height:150px;
}

::-webkit-scrollbar.home {
    width: 100px;
    height: 7px;
  }
  
  ::-webkit-scrollbar-thumb {
   
    border-radius: 10px;
    background: rgb(175, 173, 173); 
  
  }
  
  