

  /* sidebar style */
  /* the first section style (9gag section)*/




    /* 9gag section css*/
    .label-section-9gag 
    {
      padding: 0px 16px; 
    }
    
    .icons-sidebar-9gag-sction {
     
      width: 24px;
      height: 24px;
       
     
     
    }

    
    .label-section-9gag
    {
      padding: 0px;
    }
    


    /*  css for all sections */

.sidebarItem{
  width: 204px ;
}


li {
  list-style-type: none;
  margin: 2px; 
  padding: 6px; 
  outline: 0;
} 



a{
  color: #010101;
  text-decoration: none;
}


.h3Sections { 
  color: #999; 
  font-size: 14px; 
  font-weight: 700; 
  width: 100%;
  line-height: 24px; 
  height: 20px; 
  padding: 0px 16px ;

} 

   
Section {
  margin: 4px 0px 8px;
 
}

  

/* css for another sections without 9gag section*/


.button-star
  {
padding: 206px;
text-align: center;
  }
 


.icon-star
    {
      position: right;
      width: 23px;
      height: 23px;
    
    }
  


    .sidebarItem
{
  font-family: Times;

}