

.wr-side-bar
{
width: 50px;
}



/*offcanvas */

::-webkit-scrollbar {
  display: none;
}

#offcanvasScrolling
{
  width: 260px;
}





/*card styel*/


.btn-card{ 

  border: none; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  text-decoration: none; 
  padding: 10px 16px; 
  color: #fff; 
  border-radius: 70px; 
 width: 170px;
 height: 42px;
font-weight: bold;
} 

.card-body
{
  font-style: normal; 
  display: block; 
  text-align: center; 
  
 
}


.card-title
{
  font-weight: bold; 
  font-size: 19px; 
}


.card{

    margin: 16px 8px 0 8px;

}
.card-text
{
  font-size: 14.3px; 
}





/*9gag section */
    
  .label-section-9gag
    {
 
      font-weight: bold; 
     font-size: 14px; 
     size: 10px;
  
        
    }

.icons-sidebar-9gag-sction
{
  padding: 0px;
  width: 24px;
  height: 24px;
  

}
.sidebar-menu 
{
  padding: 0px;
}


.sidebar-menu-9gag
{
  padding: 0px;
}



/*all section*/

  
.icon-star:hover { 
  background-color: rgba(172, 167, 167, 0.1);
} 



.sidebarItem{
  font-size :14px;
  color: rgb(65, 65, 65);
  padding: 0px;
}


.icon-star
{
width: 22px; 
height: 22px;
position: absolute;
right: 10px;
}



div { 
  margin: 0; 
  padding: 0; 
  outline: 0;
} 

   
Section {
  margin: 4px 0px 8px;
 
}


.h3Sections { 
  color: rgb(143, 142, 142); 
  font-size: 14px; 
  font-weight: 700; 
  width: 100%;
  line-height: 30px; 


} 


/*li and ul style */


    li:hover 
    { 
      background-color: rgba(100, 99, 99, 0.1);
  } 

  ul li {
    list-style-type: none;
    margin: 2px; 
    padding: 6px; 
    outline: 0;
    margin-top: -5px;
  } 



.sidebar{
  width: 216px
  
}


a{
  color: #010101;
  text-decoration: none;
}



li{ 
  position: relative;
 
} 



