#signbutton {
    margin-top: 3%;
    margin-right: 2%;
    float: right;
    background-color: white;
    border-width: 0;
    border-color: white;
    border-radius: 5%;
}

.signphoto {
    height: 200px;
    width: 300px;
    border-radius: 5%;
}

.modal-header .btn-close {
    margin: 0;
    padding: 0;
}

.carousel-dark .carousel-indicators [data-bs-target] {
    border-radius: 4px;
    width: 8px;
    height: 8px;
    margin: 0 4px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #9999;
}

a.facebook {
    text-decoration: none;
    color: black;
}

a.Google {
    text-decoration: none;
    color: black;
}

a.Apple {
    text-decoration: none;
    color: black;
}
a.link {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

#LogIn {
    margin: auto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    width: 100%;
    margin-left: 10px;

}

.P-Or {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100%;
    padding: 1%;
    margin-bottom: 2%;
}

.para {
    font-size: 12px;
    line-height: 100%;
    text-align: center;
    color: #9999;
}

.LeftArrow {
    border: 0;
    background-color: white;
}

.ButFacebook {
    border-radius: 30px;
    height: 50px;
    width: 100%;
    font-weight: bold;
    font-size: 100%;
    border: 1px;
    border-color: #e5e5e5;
    border-style: solid;
    margin: 4px;
    background-color: white;
}

.facebook1 {
    position: absolute;
    width: 6%;
    margin: -5px -130px;
}

.imgNum {
    margin-left: 158px;
    margin-bottom: 120px;
}

.imgNum2 {
    margin-left: 190px;
    margin-bottom: 100px;
}

.imgNum3 {
    margin-left: 190px;
    margin-bottom: 100px;
}

.imgNum4 {
    margin-left: 190px;
    margin-bottom: 112px;
}

.imgNum5 {
    margin-left: 180px;
    margin-bottom: 100px;
}

.head {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    width: 100%;
    margin-left: 5px;
}

.Email1 {
    font-size: 14px;
    line-height: 25px;
    display: block;
    color: #9999;
    margin-bottom: 2%;
}

.send {
    border-radius: 30px;
    height: 50px;
    width: 100%;
    font-weight: bold;
    font-size: 18px;
    border: 1px;
    border-color: #e5e5e5;
    border-style: solid;
    background-color: #0077ff;
    opacity: .4;
    color: aliceblue;
}

.ButGoogle {
    border-radius: 30px;
    height: 50px;
    width: 100%;
    font-weight: bold;
    font-size: 100%;
    border: 1px;
    margin: 4px;
    border-color: #e5e5e5;
    border-style: solid;
    background-color: white;
}

.google1 {
    position: absolute;
    width: 9%;
    margin: -13px -146px;
}

.ButApple {
    border-radius: 30px;
    height: 50px;
    width: 100%;
    font-weight: bold;
    font-size: 100%;
    border: 1px;
    margin: 4px;
    border-color: #e5e5e5;
    border-style: solid;
    background-color: white;
}

.apple1 {
    position: absolute;
    width: 13%;
    margin: -11px -161px;
}
.inputName{
    height: 50px;
    width: 100%;
    font-weight: bold;
    font-size: 100%;
    border-color: #e5e5e5;
    background-color: white;
}
.ButEmail {
    border-radius: 30px;
    height: 50px;
    width: 100%;
    font-weight: bold;
    font-size: 100%;
    border: 1px;
    margin: 4px;
    border-color: #e5e5e5;
    border-style: solid;
    background-color: white;
}

.ButLogIn {
    border-radius: 30px;
    height: 50px;
    width: 100%;
    font-weight: bold;
    font-size: 100%;
    border: 0px;
    margin: 4px;
    background-color: white;
}

.Forgot {
    border-radius: 30px;
    height: 50px;
    width: 100%;
    font-weight: bold;
    font-size: 100%;
    border: 0px;
    margin: 4px;
    background-color: white;
}

.ButLogIn2 {
    border-radius: 30px;
    height: 50px;
    width: 100%;
    font-weight: bold;
    font-size: 100%;
    border: 1px;
    margin: 4px;
    border-color: #e5e5e5;
    border-style: solid;
    background-color: #0077ff;
    opacity: .4;
    color: aliceblue;
}

.ButFacebook:hover,
.ButGoogle:hover,
.ButApple:hover,
.ButEmail:hover {
    background-color: rgb(194, 194, 194);
}