
.LoginCard { 
    text-align: center; 
    padding: 24px 0; 
    z-index: 0;
    padding-top: 400px;
    padding-left: 400px;
    padding-right: 473px;


} 

.content-card{
    display: flex; 
}

.Login-9gag-logo { 
    width: 80px; 
    height: 80px; 
    margin-right: 16px; 
   
} 
.card-9gag-des { 
    font-style: normal; 
    font-weight: normal; 
    font-size: 16px; 
    color:#000;
} 

.card-9gag-des{ 
    text-align: left;
} 



h4{
   
    text-align: left;
    font-style: normal; 
    font-weight: bold; 
    font-size: 24px; 
    margin-bottom: 8px; 

}
p { 
    text-align: left;
} 
.card-9gag-buttons  { 

    display: flex; 
    margin:5px;
} 
.login-button{
    padding: 10px 16px; 
    font-size: 14px; 
    font-style: normal; 
    font-weight: bold; 
    cursor: pointer;  
    border-radius: 40px; 
    color:black ; 
    width: 100%; 
    margin: 0 4px;
    border-color: white;
    background-color:rgb(179, 179, 179);

} 

.signup-button  { 
    color: #fcf4f4f1;
    background-color:#006BE6;
    padding: 10px 16px; 
    font-size: 14px; 
    font-style: normal; 
    font-weight: bold; 
    cursor: pointer;  
    border-radius: 40px; 
    color:rgb(238, 230, 230) ; 
    width: 100%; 
    margin: 0 4px;
    border-color: white;

} 
