
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


/* sidebar style */
/* the first section style (9gag section)*/
.h3Sections {
  line-height: 24px;
  height: 20px;
  padding: 6px 16px;
  color: #999;
  font-size: 14px;
  font-weight: 700;
  width: 100%;
}


 
Section {
  margin: 4px 0 8px;
  display: block;
}

.label {
  color: var(--palette-text);
  font-size: 14px;
  height: 32px;
  line-height: 20px;
  padding: 6px 48px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  position: relative;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: background-color .15s,padding-right .15s;
  -o-transition: background-color .15s,padding-right .15s;
  transition: background-color .15s,padding-right .15s;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
li {
  position: relative;
}

ul {
  list-style-type: disc;
}


ul {
  list-style-type: disc;
}

li {
  text-align: -webkit-match-parent;
}


.icons-sidebar-9gag-sction {
  position: left;
  width: 24px;
  height: 24px;

}


  .icon-star
  {
    background-position: -48px 0;
    background-position-x: -48px;
    background-position-y: 0px;
    position: right;
    width: 24px;
    height: 24px;
  }
