.dark {
    background-color: rgb(1, 1, 1);
    color: #fff;
    }
    .light {
    background-color: #fff;
    color: #333;
    }
    .dark-mode-button{
        background: rgb(255, 255, 255);
        border-radius: 10%;
       margin-left: 40%;
        
    }