.but1{
    
  border-radius: 50px;
  height: 37px; ;
  width: 89px;
  font-weight: bold;
  font-size: 14px;
  border: 1px solid rgb(181, 180, 180);
}
  
  .but2 {
    border-radius: 50px;
    height: 37px; 
    width: 98px;
    font-weight: bold; 
    font-size: 14px; 
    margin-left: 8px; 
    border: 1px solid rgb(181, 180, 180);  
  }
  
  
  .but3{
    border-radius: 50px;
    height: 37px; 
    width: 100px; 
    font-weight: bold;
    font-size: 14px;
    margin-left: 8px;   
    border: 1px solid rgb(181, 180, 180);
    }

    .but4{
      
      border-radius: 50px;
      height: 37px; 
      width: 82px; 
      font-weight: bold;
      font-size: 14px;
      margin-left: 8px;  
      border: 1px solid rgb(181, 180, 180); 
      }

      .but5{
        border-radius: 50px;
        height: 37px; 
        width: 92px; 
        font-weight: bold;  
        font-size: 14px;
        margin-left: 8px;   
        border: 1px solid rgb(181, 180, 180);
      }

        .but6{
          border-radius: 50px;
          height: 37px; 
          width: 92px;
          font-weight: bold; 
          font-size: 14px; 
          margin-left: 8px;   
          border: 1px solid rgb(181, 180, 180);      
        }
          .but7{
            border-radius: 50px;
            height: 37px; 
            width: 93px;
            font-weight: bold; 
            font-size: 14px;
            margin-left: 8px; 
            border: 1px solid rgb(181, 180, 180);         
          }
            .but8{
              border-radius: 50px;
              height: 37px; 
              width: 108px;
              font-weight: bold;  
              font-size: 14px;    
              margin-left: 8px;  
              border: 1px solid rgb(181, 180, 180);   
            }
              .but9{
                border-radius: 50px;
                height: 37px; 
                width: 122px;
                font-weight: bold;  
                font-size: 14px;   
                margin-left: 8px; 
                border: 1px solid rgb(181, 180, 180);  
              }
                








  .container{
    position: g;
    width: 520px; ;
    height: 150px;
    margin: 0px;
    padding: 0px;
    margin-top: 120px;
    margin-left: 400px;

  }











.App-link {
  color: #fbe161;
  
}



.but1:hover,.but2:hover,.but3:hover,.but4:hover,.but5:hover,.but6:hover,.but7:hover,.but8:hover,.but9:hover{
  background-color: rgb(194, 194, 194);
  
}