@media screen and (max-width:500px)
{
    #Potatoz
    {
        display: none;
    }
}
@media screen and (max-width:400px)
{
    #Memeland
    {
        display: none;
    }
}
@media screen and (max-width:300px)
{
    #GetApp
    {
        display: none;
    }
}
@media screen and (max-width:200px)
{
    #Shuffle
    {
        display: none;
    }
}

.basic-navbar{
    background-color: #fff;
    width: 100%;
    height: 50px;
}
.components{
    height: 48px;
    width: 98%;
    margin-left: 1%;
    display: flex;
}
.left-components{
    width: 580px;
    display: flex;
}   
#menu-but{
    border: #fff;
    background-color: #fff;
}
#menu-div{
    padding-left: 1%;
    padding-top: 0.8%;
    height:50%;
    padding-bottom: 1%;
}
#gag-img{
    height: 35px;
    width: 60px;
}
.logo-div{
    margin-left: 1.5%;
    padding-top: 1%;
}
.left-links{
    color:black;
    text-decoration: none;
    cursor: pointer;
    font-size: medium;
    margin-top: 11px;
    width: 110px;
}
.left-links:hover{
    color:black;
}
#Shuffle{
    font-size: 11pt;
    margin-left: 15px;
    margin-right: -13px;
}
#GetApp{
    font-size: 11pt;
}
#Memeland{
    font-size: 11pt;
}
#Potatoz{
    font-size: 11pt;
}
.right-components{
    width: 25%;
    display: flex;
    margin-left: auto;
}
#pofile-ul{
    margin-right: 50px;
    color: #02080e;
    width: 330px;
    height: auto;
    box-shadow: 1px 1px 2px 2px lightgrey;  
    border: 1px;  
}
#dark-mode-text{
  display: flex;
}
#dark-mode-switch{
   margin-top: -2px;
   margin-left: 180px;
}
.form-check-input{
    height: 20px;
    width: 100%;
}
.items{
    padding-top: 13px;
    height: 45px;
}
.items:active{
    background-color: #e8e0e0;
    color:black ;
}
.dropdown-nested{
    padding-top: 10px;
    height: 40px;
    border-radius: 0%;
    text-align:start;
    width: 100%;
    color: #7b7575;
    font-weight: bold;
}
.dropdown-nested:active{
    background-color: #e8e0e0;
    color: #7b7575;
}
.dropdown-nested:hover{
    background-color: #e4e8eb;
    color: #7b7575;
}
.dropdown-nested:focus{
    background-color: #e8e0e0;
    color: #7b7575;
}
.nested-dropdown{
    text-decoration: none;
    color: black;
    cursor: pointer;
    height: 30px;
    margin-left: 14px; 
    width: 100%;
}
.nested-dropdown:hover{
    background-color: #e4e8eb;
    color: #02080e;
}
.nested-dropdown:active{
    background-color: #e8e0e0;
    color: #02080e;
}
#gag{   
    padding-left: 18px;
    margin-top: 20px;
    font-size: small;
    color: #ccc5c5;
}
.carets-div{
    display: flex;
}
#img-terms-id{
    height: 15px;
    width: 15px;
    margin-left: 149px;
}
#img-Advertise-id{
    height: 15px;
    width: 15px;
    margin-left: 204px;
}
#img-Contact-id {
    height: 15px;
    width: 15px;
    margin-left: 218px;
}  
#search-but{
    background-color: #fff;
    padding-right: 35px;
    margin-top: 1px;
    width: 30px;
    height: 40px;
    border-radius: 50%;
    border-color:#fff;
}
#search-icon{
    margin-top: 5px;
    border-radius: 100%;
    height: 100% ;
} 
#search-icon:hover{
    background-color: #d9dde1;
}
#search-drpdown{
    box-shadow: 1px 1px 2px 2px lightgrey;  
    border: 1px;  
    width: 350px;
}
#sign-but{
    width:max-content ;
    height:max-content;
    padding-top: 12px;
    font-size: 100%; 
    color:rgb(157, 151, 151);
    border: #fff;
    background-color: #fff;
}
#profile-dropdown{
    justify-content: center;
    width:60px;
    height: 40px;
    background-color: #fff;
}
#profile-btn{
    border: #fff;
    background-color: #fff;
    padding-left: 20px;
}
#prof{
    margin-top: 1px;
    color: #b1a9a9;
    height: 35px;
    width: 35px;
}
#prof:hover{
    color: rgb(189, 184, 184);
}
#post-but-div{
    text-align: center;
    padding-top: 5px;
    height: 100%;
    width: 30%;
    margin-left: 8px;
     
}
#post-but{
    color: #fff;
    padding-top: 7px;
    text-decoration: none;
    background-color: #1f76da;
    width: 90px;
    height: 38px;
    border-radius: 20px;
}
#post-but:hover{
    background-color: #1963b8;
}
.post-pen{
    height:20px;
    width:20px;
}
#navbar-hr{
    margin: 1px;
    border: 0.1px solid rgb(147, 140, 140);
    width:100%; 
}
#basic-addon1{
    border: #fff;  
    background-color: #d1cccc;
}
#search-input{
    border: #fff;  
    background-color: #d1cccc;
    color:#a8a3a3 ;
}
.input-group{
    margin-left: 15px;
    border-radius: 10px ;
    background-color: #d1cccc;
    width: 320px;
}
#nested-search{
    width: 16px ;
    height: 16px;
    color: #7b7575;
}
.input-group-text{
    margin-top: 5px;
}